### Question no 1 CALCULATOR

In [3]:
# Addition (maximum value you can add is 3)
a = int(input("Enter first value for addition: "));
b = int(input("Enter second value for addition: "));
c = int(input("Enter third value for addition: "));
d = a+b+c
print(d)

Enter first value for addition: 250
Enter second value for addition: 300
Enter third value for addition: 0
550

In [4]:
# Subtraction(maximum value you can subtract is 3)
a = int(input("Enter first value for subtraction: "));
b = int(input("Enter second value for subtraction: "));
c = int(input("Enter third value for subtraction: "));
d = a-b-c
print(d)

Enter first value for subtraction: 3000
Enter second value for subtraction: 100
Enter third value for subtraction: 2000
900

In [6]:
# Power
a = int(input("Enter first value for power: "));
b = int(input("Enter second value for power: "));
d = a**b
print(d)

Enter first value for power: 3
Enter second value for power: 2
9

In [8]:
# Multiplication(maximum value you can multiply is 2)
a = int(input("Enter first value for Multiplication: "));
b = int(input("Enter second value for Multiplication: "));
d = a*b
print(d)

Enter first value for Multiplication: 5
Enter second value for Multiplication: 3
15

In [9]:
# Division (maximum value you can divide is 2)
a = int(input("Enter first value for division: "));
b = int(input("Enter second value for division: "));
d = a/b
print(d)

Enter first value for division: 300
Enter second value for division: 10
30.0

### QUESTION NO 2 PROGRAM FOR CHEKING PRESCENCE OF ANY NUMERIC VALUE IN LIST USING FOR LOOP

In [68]:
a = ["Ramsha", "Elephant","Natasha",9,25];
# b = number list
b = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
c = []
for i in a:
    for j in b:
        if (i==j):
            c.append(i)
c

[9, 25]

### Question no 3 TO ADD A KEY IN A DICTIONARY

In [70]:
names={'1':"Amna", '2':"Ramsha"}
# names['3'] = added key
names['3'] = 'Ali'
print(type(names))
names

<class 'dict'>

{'1': 'Amna', '2': 'Ramsha', '3': 'Ali'}

### QUESTION NO 4 "SUM ALL THE NUMERIC ITEMS IN A DICTIONARY"

In [77]:
names={'a':0, 'b':700, 'c':300, 'd':500}
print(sum(names.values()));

1500

### Question 5 " IDENTIFYING DUPLICATE VALUES FROM THE LISTS"

In [88]:
# sport_participants ARE THE PARTICIPANTS WHO ARE PARTICIPATING IN SPORTS
# not_participating ARE THE PARTICIPANTS WHO ARE NOT PARTICIPATING DUE TO SOME CIRCUMSTANCES
#not_sport_participants ARE THE PARTICIPANTS WHO ARE NOT PARTICIPATING IN SPORTS
sport_participants = ["Ahmed","Malik","Hafsa","Rehman","Anoosha"];
not_participating = ["Faiza","Faizan","Malik","Ashra","Anoosha"];
not_sport_participants = []
for i in sport_participants:
    for j in not_participating:
        if (i==j):
            not_sport_participants.append(i)
not_sport_participants

['Malik', 'Anoosha']

### Question no 6 "CHECK IF A GIVEN KEY EXIST IN DICTIONARY "

In [90]:
names={'1':"Amna", '2':"Ramsha"}
names['2'] = "Malik"
# if a given key exist in dictionary then the new value of key will replased by the old value of the key 
names

{'1': 'Amna', '2': 'Malik'}